@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply antialiased bg-slate-50 text-slate-900;
    }
}

.glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-xl;
}